:root {
  --brand-color: #2196f3;
  --black-color: #212121;
  --background: #2f303a;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1,71;
  letter-spacing: 0.03em;
  color: #757575;
}
.link {
  text-decoration: none;
  color: currentColor;
}
.list{ 
  list-style-type: none;
}
header {
  font-style: normal;
  font-weight: 500;
  line-height: 1,14;
  letter-spacing: 0.02em;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1,19;
  color: var(--brand-color);
}

.logo-black {
  color: black ;
}
.logo-white {
  color: white;
}

.nav-link {
  color: var(--black-color);
}

.nav-link:hover {
  color: var(--brand-color);
}

.contact-link:hover {
  color: var(--brand-color);
}

.hero {
  background: var(--background);
}
.hero-title {
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1,36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.order-btn {
  cursor: pointer;
  font-family: "Roboto"
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1,87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.hidden-title {
  display: none;
}


.characteristic-title {
  color: var(--black-color);
}


.section-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1,17;
  color: var(--black-color);
}

.team-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1,18;
  color: var(--black-color);
}

.team-role {
  font-size: 16px;
  line-height: 1,18;
}


.footer {
  background: var(--background);
}

.address-link {
  color: #ffffff;
}

.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1,62;
  text-align: center;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  border: 0;\ font-family: "Roboto";
}
.filter-btn:hover {
  background-color: var(--brand-color)
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-color)
}
.project-type {
  font-size: 16px;
  line-height: 1,87;
}

address{
  font-style: normal;
}